<div>
    <label class="SubContainerHeader"><strong>Address</strong> </label>
    <div class="row">
        <div class="col-sm-12">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Address type</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="formGroup ">
                <div  class="col-sm-10">
                    <input type="number" class="form-control" />
                </div>
                <div  class="col-sm-10">
                    <input type="number" class="form-control" />
                </div >
                
                <div  class="col-sm-10">
                    <input type="number" class="form-control" />
                </div>
                <div  class="col-sm-10">
                    <input type="number" class="form-control" />
                </div>
                <div  class="col-sm-10">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Country Code</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>

</div>