<div>
    <label class="SubContainerHeader"><strong>Contact Person Details</strong> </label>
    <div class="row">
        <div class="col-sm-12">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">First Names</label>
                <div class="col-sm-11">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Surname</label>
                <div class="col-sm-11">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Bus Tel No. 1</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" />
                </div>
            </div>
      
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Bus Tel No. 2</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" />
                </div>
            </div>
    
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Cell No.</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>
   </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Email Address</label>
                <div class="col-sm-11">
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>