<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DataSettings" type="Sars.Systems.Data.SARSDataSettings, Sars.Systems, Version=4.5.0.0, Culture=neutral, PublicKeyToken=6269130e95be942f" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <!-- PRE PRODUCTION -->
    <!--<add connectionString="Server=NHEQASQC01SQL;Database=TaxDirectives;User ID=eFilingApp;Password=!69L@vgsoal96#" name="db" providerName="System.Data.SqlClient"/>-->
    <!-- LOCAL -->
    <!--<add connectionString="Server=LPTABU95\SQL2012;Database=TaxDirectives_preprod;User ID=sa;Password=P@ssw0rd" name="db" providerName="System.Data.SqlClient" />-->
    <!-- DEVELOPMENT -->
    <add connectionString="Server=PTADVSQC02SQL;Database=FDR;User ID=ccs;Password=$0m3P@$$w0rd" name="db" providerName="System.Data.SqlClient" />
    <!-- QA  -->
    <!--<add connectionString="Server=NHEQASQL01;Database=TaxDirectives;User ID=eFilingApp;Password=!69L@vgsoal96#" name="db" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="PageCodeDirectivesLanding" value="directives/Default.aspx"/>
    <add key="PageCodeDirectivesSaved" value="directives/SavedDirectives.aspx"/>
    <add key="PageCodeDirectivesSubmitted" value="directives/submitted.aspx"/>
    <add key="PageCodeDirectivesHistory" value="directives/History.aspx"/>
    <add key="PageCodeDirectivesCancelled" value="directives/Cancelled.aspx"/>
    <add key="logonURL" value="https://secure.sarsefiling.co.za/!Generator/WebWiz.aspx?BusinessProcessCode=BPLogin"/>
    <add key="dev-testing" value="true"/>
    <add key="QA-testing" value="true"/>
    <add key="master-file-default-number" value="10"/>
    <add key="local-file-default-number" value="10"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <pages>
      <controls>
        <add tagPrefix="sars" namespace="Sars.Systems.Controls" assembly="Sars.Systems"/>
        <add tagPrefix="CBC" namespace="CBCControls"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="60" maxRequestLength="6553699"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="cbc01.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <DataSettings connection="db" masterfilename="~/Site.master" masterfilename2="~/ProdMaster.master" install="false" autoRedirectOnError="false" authorizeRequests="false" domainName="SARSNHE" appName="CBC" attachDomain="true" baseFolder="CBC" employeeDBConnection="null" tempFolder="Temp" dbexists="false"/>
  
  
</configuration>