<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DataSettings" type="Sars.Systems.Data.SARSDataSettings, Sars.Systems, Version=4.5.0.0, Culture=neutral, PublicKeyToken=6269130e95be942f" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <DataSettings connection="FDRConnection" employeeDBConnection="employees" masterfilename="~/Site.master" masterfilename2="~/Site2.master" autoRedirectOnError="true" install="false" authorizeRequests="true" domainName="SARSGOV" appName="FDR" baseFolder="FDR" attachDomain="true" dbexists="true" tempFolder="Temp" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--Local db-->
    <!--<add  name="FDRConnection" connectionString="Data Source=LPTACI61\SQLEXPRESS; Initial Catalog=FDR; integrated security=true"/>-->
    <!--DEV db-->
    <add name="FDRConnection" connectionString="data source=PTADVSQC02SQL; database=FDR;uid=ccs;pwd=$0m3P@$$w0rd;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="Duration" value="60000" />
    <add key="AlwaysRun" value="true" />
    <add key="LogMessage" value="true" />
    <add key="filePath" value="\\Ptadviis10\mneinbound\\CSE_MNE_List_20170919_120909.txt"/>
    <add key="chunkLimit" value="45000"/>
    <add key="lastRun" value="2017-10-04"/>
  </appSettings>
</configuration>
