<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="DataSettings" type="Sars.Systems.Data.SARSDataSettings, Sars.Systems, Version=4.5.0.0, Culture=neutral, PublicKeyToken=6269130e95be942f" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <DataSettings connection="FDR" employeeDBConnection="employees" masterfilename="~/Site.master" masterfilename2="~/Site2.master" autoRedirectOnError="true" install="false" authorizeRequests="true" domainName="SARSGOV" appName="FDR" baseFolder="FDR" attachDomain="true" dbexists="true" tempFolder="Temp" log="true"/>
    <connectionStrings>
      <add name="FDR" connectionString="data source=PTADVSQC02sql; database=FDR;PWD=$0m3P@$$w0rd;UID=ccs;Pooling=True;" providerName="System.Data.SqlClient"/>
      <add name="employees" connectionString="SERVER=PTABRSQL17;DATABASE=EmployeeDetailsDB;UID=dopiuser;PWD=DOPIP@$$; Min Pool Size=20; Max Pool Size=200;Pooling=true;"/>
    </connectionStrings>
</configuration>