<div>
    <label class="ContainerHeader"><strong>Additional Information</strong> </label>
    <div class="row">
        <div class="col-sm-12">
            <div class="formGroup ">
                <label class="control-label label3 col-sm-1">Unique No.</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" />
                </div>
            </div>
            <div class="formGroup ">
                <label class="control-label label3 col-sm-2">Record Status:</label>
                <label class="control-label label3">Correction<input type="checkbox"  /></label>
                <label class="control-label label3">Deletion<input type="checkbox" /></label>

            </div>
        </div>
    </div>
    <label class="SubContainerHeader"><strong>Other Information</strong> </label>

    <div class="row">
        <div class="col-sm-12">
            <label class="control-label label3 col-sm-8">Please include any further brief information or explanation you consider necessary or that would facilitate the understanding of the compulsory information provided in the Country-by-Country Report.</label>
            <div class="formGroup ">
                <div class="col-sm-8">
                    <textarea type="number" class="form-control"></textarea>
                </div>
            </div>
            <div>
                <div class="formGroup ">
                    <!--  <label class="SubContainerHeader col-sm-1"><strong>Other Information</strong> </label>-->
                    <label class="control-label label3 col-sm-1">Address type</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" />
                    </div>
                </div>
                <div class="formGroup ">
                    <!--  <label class="SubContainerHeader col-sm-1"><strong>Other Information</strong> </label>-->
                    <label class="control-label label3 col-sm-1">Summary Ref.Code</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>