<div>
    <label class="SubContainerHeader"><strong>Selection for Tax Jurisdictions</strong> </label>
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div class="formGroup ">
                    <label class="control-label label3 col-sm-2">Number of Tax Jurisdictions to report</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>